/* Login Page */
.kakao-button {
  background-color: #fee500;
  color: #000000;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.kakao-button:hover {
  background-color: #fee500;
  color: #000000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border: none;
}

/* MyPage */
@media (max-width: 768px) {
  .mypage-box {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }
}

.title {
  font-size: 2rem;
  margin: 1rem 0;
}

.mypage-card-left {
  height: 75vh;
  padding: 20px;
}

.mypage-card-title {
  font-size: 2rem;
  font-weight: bold;
}

@media (max-width: 760px) {
  .mypage-card-left {
    height: 35vh;
    padding: 1rem;
  }

  .mypage-card-title {
    font-size: 1.5rem;
    padding: 0.3rem !important;
  }

  .mypage-card-text {
    font-size: 0.8rem !important;
  }
}

.mypage-card-text {
  font-weight: 100;
  font-size: 1rem;
}

.mypage-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  padding: 1.25rem;
}

.mypage-card-body2 {
  padding: 1.2rem;
}

.user-profile {
  height: 30vh;
  width: auto;
}

.mypage-card-name,
.mypage-card-email {
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .mypage-card-name {
    margin-bottom: 0;
  }

  .mypage-card-email {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 0.9rem;
  }
}

.card-img-bottom3 {
  position: absolute;
  margin: 20px;
  bottom: 20px;
  right: 20px;
  width: 5vw; /* 화면 크기에 따라 크기 조정 */
  height: auto; /* 비율 유지 */
}

@media (max-width: 375px) {
  .mypage-card-body2 {
    position: relative;
  }

  .card-img-bottom3 {
    position: absolute;
    bottom: -5vh;
    right: -15px;
    transform: translateY(-50%);
    width: 4.5vh;
    height: auto;
  }

  .mypage-card-title {
    display: block;
  }

  .user-profile {
    height: 10vh;
    width: auto;
  }
}

@media (min-width: 376px) and (max-width: 995px) {
  .card-img-bottom3 {
    position: absolute;
    margin: 20px;
    bottom: 20px;
    right: 20px;
    width: 5.5vh;
    height: auto;
  }

  .user-profile {
    height: 10vh;
    width: auto;
  }
}

/* My Favorites */
.myfav-card {
  margin-bottom: 1rem;
  aspect-ratio: 1 / 1;
  padding: 10px;
}

.myfav-card-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.myfav-card-content {
  font-size: 1rem;
}

/* MyReviews */
.myrev-card {
  margin-bottom: 1rem;
  padding: 10px;
  justify-content: center;
  text-align: start;
  position: relative;
  width: 70%;
}

.myrev-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.myrev-card-img {
  height: auto;
  width: auto;
}

.myrev-card-title {
  text-align: start;
  font-weight: bold;
  font-size: 1.2rem;
}

.myrev-card-content {
  text-align: start;
  margin-top: 0;
  margin-bottom: 0;
  color: #828282;
  font-size: 1rem;
}

.myrev-card-date {
  text-align: start;
  margin-top: 0;
  margin-bottom: 0;
  color: #828282;
  font-size: 0.8rem;
}

.myrev-button {
  margin-right: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Mypage Modify */
.modi-button {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 45%;
  margin-bottom: 2rem;
}

.delete-button {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.pw-input {
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  margin-left: 20px;
}

/* Adim Member List */
.list-button {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Search */
.search-input-1 {
  padding: 20px 0;
  width: 50%;
  height: 5vh;
}

.search-button {
  width: 100%;
  height: 100%;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  font-size: 1.3rem;
}

.search-card {
  margin-bottom: 1rem;
  justify-content: center;
  text-align: start;
  position: relative;
}

.search-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.search-card-header {
  display: flex;
  align-items: center;
}

.search-card-img {
  height: auto;
  width: auto;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.search-card-title {
  text-align: start;
  font-weight: bold;
  font-size: 1rem;
  margin-right: 5px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.search-card-content {
  text-align: start;
  margin-top: 0;
  margin-bottom: 0;
  color: #828282;
  font-size: 0.7rem;
}

.search-card-distanc {
  font-weight: bold;
  color: black;
  font-size: 0.8rem;
  margin-bottom: 0;
  text-align: start;
}

.search-card-rating {
  font-weight: bold;
  color: black;
  font-size: 0.8rem;
  text-align: start;
}

/* Add Page */
.add-button {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem;
}

/* LoginComponent */
.card-login {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.card-login .form-control {
  height: 40px;
  margin-bottom: 15px;
}

.card-login .btn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

.card-login .row {
  margin-top: 10px;
}

@media (max-width: 576px) {
  .card-login .form-control {
    height: 35px;
    font-size: 14px;
  }

  .card-login .btn {
    font-size: 14px;
    padding: 12px;
  }
}

.password-input-wrapper {
  position: relative;
}
.password-toggle-btn {
  position: absolute;
  top: 50%;
  right: 10px; /* 오른쪽 끝으로 배치 */
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0.5rem;
}
.password-toggle-btn:hover {
  background: none; /* 호버 시 배경 제거 */
}
.password-toggle-btn:focus {
  outline: none; /* 포커스 시 외곽선 제거 */
}

.table-subject {
  width: 50%;
  font-weight: 500;
}

/* Help, Info Page */
@media (max-width: 650px) {
  .table-head,
  .table-title-number,
  .table-title-author {
    display: none;
  }

  .subject-title {
    font-size: 1rem;
    font-weight: 500;
  }

  .subject-date {
    font-size: 0.9rem;
    color: #696969;
    margin-top: 4px;
  }
}

.arrow-icon {
  font-size: 1.5rem;
  color: #888;
  margin-left: 8px; /* 제목과 화살표 사이 간격 */
}

/* 모바일 화면에서 화살표 셀 */
@media (max-width: 650px) {
  .arrow-cell {
    text-align: right; /* 가로 방향 정렬 */
    vertical-align: middle; /* 세로 방향 중앙 정렬 */
    width: 10%; /* 셀 너비 */
  }

  .arrow-icon {
    font-size: 1.3rem;
    color: #696969;
    display: inline-block;
    transform: scaleY(1.2);
    opacity: 0.8;
  }
}
