.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 18px;
}

.logo {
  width: 40px;
  height: 40px;
}

.current-location {
  color: #0052cc;
  font-weight: bold;
}

.current-location:hover {
  color: #0052cc !important;
  font-weight: bold;
}

.icon {
  margin-right: 5px;
}

.navbar-toggler {
  border: none !important;
  outline: none !important;
}

html,
body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex-grow: 1;
}

.footer {
  width: 100%;
  background-color: #f9fafb;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  margin-top: auto;
}
.footer p {
  margin-right: 0;
  display: inline;
  color: #686868;
  font-size: 14px;
}

.footer .footer-company {
  font-weight: bold;
}

.footer p + p {
  margin-left: 10px;
}

